:root {
  --el-color-primary: #2f7df9;

  --color-primary: #2f7df9;
  --color-border-normal: #f6f6f6;
  --color-text-normal: #999;
  --color-text-medium: #666;
  --color-text-bold: #101010;
  --filemenu-width: 130px; // 文件空间的宽度
  --control-height: 70px; // 文件空间控制模块高度
  --location-height: 60px; // 文件空间定位高度
  --menu-width: 100px;
}
